#menu
  {
	   margin: 0px auto;
     background: #9b4dca;
  }
#menu ul
  {
    text-align: center;
  }

#menu li
  {
    display: inline-block;
    margin-bottom: 0;
  }

#menu li a, #menu li span
  {
  	display: inline-block;
  	margin-left: 0.5em;
  	padding: 1.9em 1.5em 1.5em 1.5em;
  	letter-spacing: 0.20em;
  	text-decoration: none;
  	font-size: 0.90em;
  	font-weight: 600;
  	text-transform: uppercase;
  	outline: 0;
  	color: #FFF;
  }

#menu a:hover
  {
    color: #9b4dca;
    background: #FFF;
  }

#menuClicked
  {
    color: #9b4dca !important;
    background: #FFF;
  }

#opis
  {
    width: 45%;
    text-align: justify;
    margin: auto;
  }

#form
  {
    width: 40%;
  }

#results
  {
    width: 40%;
  }

input
  {
    margin: auto;
  }
